<p id="notice"><%= notice %></p>

<h1>Alertas</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Origen</th>
      <th scope="col">Destino</th>
      <th scope="col">Clase</th>
      <th scope="col">Precio</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @alerts.each do |alert| %>
      <tr>
        <td><%= alert.name %></td>
        <td><%= alert.city_origin_name %></td>
        <td><%= alert.city_destination_name %></td>
        <td><%= alert.bus_class_i18n %></td>
        <td><%= number_to_currency alert.price %></td>
        <td><%= link_to 'Ver', alert %></td>
        <td><%= link_to 'Editar', edit_alert_path(alert) %></td>
        <td><%= link_to 'Eliminar', alert, method: :delete, data: { confirm: 'Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'Nueva Alerta', new_alert_path %>